<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        Argon Dashboard - Free Dashboard for Bootstrap 4 by Creative Tim
    </title>
    <!-- Favicon -->
    <link href="~/App_Start/Admin/assets/img/brand/favicon.png" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="~/App_Start/Admin/assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
    <link href="~/App_Start/Admin/assets/js/plugins/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="~/App_Start/Admin/assets/css/argon-dashboard.css?v=1.1.2" rel="stylesheet" />
</head>
<body>
        <!--PreLoader-->
        <div class="loader">
            <div class="loader-inner">
                <div class="circle"></div>
            </div>
        </div>
        <!--PreLoader Ends-->
        <!-- header -->
        <div class="top-header-area" id="sticker">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 text-center">
                        <div class="main-menu-wrap">
                            <!-- logo -->
                            <div class="site-logo">
                                <a href="index.html">
                                    <img src="~/App_Start/assets/img/logo.png" alt="">
                                </a>
                            </div>
                            <!-- logo -->
                            <!-- menu start -->
                            <nav class="main-menu">
                                <ul>
                                    <li class="current-list-item">
                                        <a href="/Home/Index">Home</a>
                                    </li>
                                </ul>
                            </nav>

                            <div class="mobile-menu"></div>
                            <!-- menu end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>@RenderBody()</div>
        <!--   Core   -->
        <script src="~/App_Start/Admin/assets/js/plugins/jquery/dist/jquery.min.js"></script>
        <script src="~/App_Start/Admin/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <!--   Optional JS   -->
        <script src="~/App_Start/Admin/assets/js/plugins/chart.js/dist/Chart.min.js"></script>
        <script src="~/App_Start/Admin/assets/js/plugins/chart.js/dist/Chart.extension.js"></script>
        <!--   Argon JS   -->
        <script src="~/App_Start/Admin/assets/js/argon-dashboard.min.js?v=1.1.2"></script>
        <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
        <script>
            window.TrackJS &&
                TrackJS.install({
                    token: "ee6fab19c5a04ac1a32a645abde4613a",
                    application: "argon-dashboard-free"
                });
        </script>
    </body>
</html>
